body{
    background-color: lightblue;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000e0c; 
      }
      
      li {
        float: left; 
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 20px 22px;
        text-decoration: none; /* opmaak menu*/
      }
      
      li a:hover {
        background-color: #5c5b5b;
        /*als je met je cursor er overheen gaat wordt het deze kleur*/
      }
      
li { 
  border-right: 1px solid #bbb; 
}

li:last-child {
  border-right: none;
} /* grijze lijn tussen de opties*/

ul {
  position: fixed;
  top: 0;
  width: 100%;
} /* Het menu blijft staan als je een stukje naar beneden scrollt*/