body{
    background-color: #4d6d9a; /* dit is de achtergrond kleur*/

  .tekst{ /*alle tekst van de pagina's*/
  color: white; /*text kleur*/
  font-size: 18px; /*grootte van de letters*/
  width: 60%;

}
h1{
  color: white; /*text kleur*/
  border-style: dotted;
  border-width: 10px;
  border-color: #859bac;
  text-align: center;
}
.H1header{ /*de header*/
  color: white;
  text-align: center; /*zodat de tekst in het midden komt van de pagina*/
  padding: 30px;
}
h2 {
  color: white;
}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #5f6366; /*opmaak nav bar*/
        
      }
      
      li {
        float: left; /*waar staat de tekst in de nav bar*/
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none; /* opmaak menu*/
      }
      
      li a:hover {
        background-color: #5c5b5b;
        /*als je met je cursor er overheen gaat wordt het deze kleur*/
      }

  
.navbar {
  overflow: hidden;
  background-color: #5f6366; /*achtergrond van navigation bar*/
}

.navbar a {
  float: left; /*tekst staat aan de linker kant van de navbar*/
  font-size: 16px;
  color: white; /*tekst kleur*/
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;  /* waar de text staat in de navigation bar*/
}

.dropdown {
  float: left;
  overflow: hidden; /* waar staat dropdown in de navigation bar*/
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit; /*zorgt voor dezelfde achtergrondkleur als de rest van de navbar*/
  font-family: inherit; /*zorgt voor dezelfde letterype als de rest van de nav bar*/
  padding: 16px 16px;
  margin: 0; /*opmaak van dropdown*/
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #5c5b5b; /*welke kleur dorpdown wordt als je met cursor erover heen gaat*/
}

.dropdown-content { /* hoe het menu van de dropdown eruit ziet*/
  display: none;
  position: absolute;
  background-color: #5f6366; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*schaduw*/
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; /* text dropdown menu*/
}

.dropdown-content a:hover {
  background-color: #5c5b5b; /*kleur achtergrond dropdown menu als je met cursor overheen gaat*/
}

.dropdown:hover .dropdown-content {
  display: block;
}
.column {
  float: left;
  width: 45%;
  padding: 15px; /*dit zorgt ervoor dat 2 stukken tekst niet onder elkaar maar naast elkaar staan*/
}


.row::after { /*zorgt voor tuimte tussen de twee teksten*/
  content: "";
  display: table;
  clear: both;
}


}
.right{ 
  width: 300px;
  position: relative;
  top: 300px;
  left: 700px; /*positie plaatje*/
}
div.gallery {
  margin: 45px;
  float: left;
  width: 350px; /*dit zorgt ervoor dat de plaatsje naast elkaar staan*/
}

div.gallery img {
  width: 100%;
  height: auto; 
}
.footer{
  background-color:#5f6366 ;
  padding: 10px; /*dit zorgt ervoor dat er onderaan de pagina 'einde pagina staat'*/
  text-align: center;
}
.pfooter{
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0px;
}

.kleur{
  margin: 40px;
}

.rgb{
  height: 50px;width:100%;
}

.kleurvideo{
  margin: 50px;
}

.Binair{
  bottom: 300px;
  float: right;
  position: relative;
  
}

.bonanza{
  margin-left: 40px;
}




