body{
    background-color: rgb(248, 170, 161); /* dit is de achtergrond kleur*/

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000e0c; /*opmaak nav nar*/
      }
      
      li {
        float: left; /*waar staat de tekst in de nav bar*/
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none; /* opmaak menu*/
      }
      
      li a:hover {
        background-color: #5c5b5b;
        /*als je met je cursor er overheen gaat wordt het deze kleur*/
      }
      
li { 
  border-right: 1px solid #bbb; /* de kleur van de lijnen tussen opties*/
}

li:last-child { /* dit zorgt ervoor dat de laatste optie in de navbar geen lijn aan het einde heeft*/
  border-right: none;
} /* grijze lijn tussen de opties*/

ul {
  position: fixed;
  top: 0;
  width: 100%;
} /* Het menu blijft boven op je scherm staan als je een stukje naar beneden scrollt*/ 
  
.navbar {
  overflow: hidden;
  background-color: black; /*achtergrond van navigation bar*/
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;  /* waar staat de rest in de navigation bar*/
}

.dropdown {
  float: left;
  overflow: hidden; /* waar staat dropdown in de navigation bar*/
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit; /*zorgt voor dezelfde achtergrondkleur als de rest van de navbar*/
  font-family: inherit; /*zorgt voor dezelfde letterype als de rest van de nav bar*/
  padding: 16px 16px;
  margin: 0; /*opmaak van dropdown*/
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #5c5b5b; /*welke kleur dorpdown wordt als je met cursor erover heen gaat*/
}

.dropdown-content { /* hoe het menu van de dropdown eruit ziet*/
  display: none;
  position: absolute;
  background-color: black; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*schaduw*/
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; /* meer opmaak van het dropdown menu*/
}

.dropdown-content a:hover {
  background-color: #5c5b5b; /*kleur achtergrond dropdown menu*/
}

.dropdown:hover .dropdown-content {
  display: block;
}
p {
  width: 50%;
  text-align: center;
}

h1 { 
  text-align: left;
}
img {
  text-align: right;
}

}